@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #000000;
    color: #F6F6F6;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.header-title {
    color: #F6F6F6;
    border: 1px solid #22D4FD;
    padding: 10px;
}

.highlight-title {
    color: #22D4FD;
}

.portfolio-logo {
    width: 100px;
    height: 100px;
}

.main-container {
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-container {
    width: 615px;
    height: 482px;
}

.text-title {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.text-paragraph {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}